
ul li {
	position: relative;
	list-style: none;
}
ul li a {
	position: relative;
	width: 100px;
	height: 40px;
	display: block;
	color: tomato;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
  text-transform: uppercase;
	transition: .5s;
	box-sizing: border-box;
}

.bg-a {
   background-color: #27d34a;
}



ul li a span {
	position: absolute;
	width: 25%;
	height: 100%;
	background-color: #27d34a !important;
	z-index: -1;
	transform-origin: top;
	transform: scaleY(0);
	transition: transform .25s;
}
ul li a:hover {
	color: #fff;
	text-decoration: none;
}

ul li a:hover span {
	transform-origin: bottom;
	transform: scaleY(1);
}
ul li a span:nth-child(1) {
	left: 0;
	transition-delay: 0s;
}
ul li a span:nth-child(2) {
	left: 25%;
	transition-delay: 0.15s;
}
ul li a span:nth-child(3) {
	left: 50%;
	transition-delay: 0.3s;
}
ul li a span:nth-child(4) {
	left: 75%;
	transition-delay: 0.45s;
}