* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    transition: .5s;
    padding: 0;
    font-family: Snell Roundhand, cursive, sans-serif;
}

body {
    background: #F8F8F8;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 100%;
    text-align: center;
    padding: 1vw 1vh;
}

.flex-nav a {
    margin-right: 3vw;
    color: #000;
    text-decoration: none;
}

.flex-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.bg-span {
    background: #27d34a;

}

.h2 h2 {
    font-size: 2vw;
    margin: 5vh 0;
    width: 100%;
}

.first-item {
    width: 30%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 5vh;
    margin-right: 2vw;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.basket-btn {
    width: 230px;
    height: 40px;
    border: 3px solid #27d34a;
    padding: 0.7vh 1vw;
    position: relative;
    font-size: inherit;
    text-decoration: none;
    color: #27d34a;
    text-align: center;
    /*margin-left: 17%;*/
    background: none;
    cursor: pointer;
    margin: 1vh 17%;
}

.basket-btn:hover {
    color: #ffff;
    background: #27d34a;
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(39, 211, 74, 0.5);
}

.basket-btn:focus {
    outline: none;
}

.mg {
    margin: 1vh 0;
}