* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: .5s;
}
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),  url("../static/icon/bg.gif");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.flex-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 3vh;
}

.flex-nav a {
    margin-right: 3vw;
    color: #ffff;
    text-decoration: none;
}

.name_r {
   font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    text-align: center;
}

.name-com {
    margin-top: 20vh;
}

.wrap-text {
    margin: 10vh auto;
    text-align: center;
    width: 60%;
    font-size: 1.2vw;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.bg-pizza {
    background: #27d34a;
}

.wrap-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.order {
    width: 230px;
    height: 40px;
    border: 3px solid #27d34a;
    padding: 0.7vh 1vw;
    position: relative;
    font-size: inherit;
    text-decoration: none;
    color: #27d34a;
    text-align: center;
}

.order:hover .telega {
    display: block;
    transition: .5s;

}

.order:hover {
    color: #ffff;
    background: #27d34a;
    border-radius: 1em;
     box-shadow: 0 0 5px rgba(39, 211, 74, 0.5);
}

.telega {
    display: none;
    position: absolute;
    top: 20%;
    right: 5%;
}

.logo{
    margin-right: 5vw;
    cursor: pointer;
}
