<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    <div class="form-row field-title">

        <div>
            <label class="required" for="id_title">Title:</label>
            <textarea class="vLargeTextField" cols="1" id="id_title" maxlength="3" name="title" required=""
                      rows="2"></textarea>
        </div>
    </div>
    <div class="form-row field-Моцарелла">


        <div class="checkbox-row">


            <input id="id_Моцарелла" name="Моцарелла" type="checkbox"><label class="vCheckboxLabel" for="id_Моцарелла">Моцарелла</label>


        </div>

    </div>

    <div class="form-row field-Подвійний сир">


        <div class="checkbox-row">


            <input id="id_Подвійний сир" name="Подвійний сир" type="checkbox"><label class="vCheckboxLabel"
                                                                                     for="id_Подвійний сир">Подвійний
            сир</label>


        </div>

    </div>

    <div class="form-row field-Бекон ">


        <div class="checkbox-row">


            <input id="id_Бекон " name="Бекон " type="checkbox"><label class="vCheckboxLabel"
                                                                       for="id_Бекон ">Бекон </label>


        </div>

    </div>

    <div class="form-row field-Курка ">


        <div class="checkbox-row">


            <input id="id_Курка " name="Курка " type="checkbox"><label class="vCheckboxLabel"
                                                                       for="id_Курка ">Курка </label>


        </div>

    </div>

    <div class="form-row field-Шинка">


        <div class="checkbox-row">


            <input id="id_Шинка" name="Шинка" type="checkbox"><label class="vCheckboxLabel" for="id_Шинка">Шинка</label>


        </div>

    </div>

    <div class="form-row field-Зелень">


        <div class="checkbox-row">


            <input id="id_Зелень" name="Зелень" type="checkbox"><label class="vCheckboxLabel"
                                                                       for="id_Зелень">Зелень</label>


        </div>

    </div>

    <div class="form-row field-Ананас">


        <div class="checkbox-row">


            <input id="id_Ананас" name="Ананас" type="checkbox"><label class="vCheckboxLabel"
                                                                       for="id_Ананас">Ананас</label>


        </div>

    </div>

    <div class="form-row field-Оливки ">


        <div class="checkbox-row">


            <input id="id_Оливки " name="Оливки " type="checkbox"><label class="vCheckboxLabel"
                                                                         for="id_Оливки ">Оливки </label>


        </div>

    </div>

    <div class="form-row field-Помідори">


        <div class="checkbox-row">


            <input id="id_Помідори" name="Помідори" type="checkbox"><label class="vCheckboxLabel" for="id_Помідори">Помідори</label>


        </div>

    </div>

    <div class="form-row field-Мариновані огірки">


        <div class="checkbox-row">


            <input id="id_Мариновані огірки" name="Мариновані огірки" type="checkbox"><label class="vCheckboxLabel"
                                                                                             for="id_Мариновані огірки">Мариновані
            огірки</label>


        </div>

    </div>

    <div class="form-row field-Перець">

        <div class="checkbox-row">
            <input id="id_Перець" name="Перець" type="checkbox"><label class="vCheckboxLabel"
                                                                       for="id_Перець">Перець</label>
        </div>
    </div>
    <div class="form-row field-Шампіньйони">
        <div class="checkbox-row">
            <input id="id_Шампіньйони" name="Шампіньйони" type="checkbox"><label class="vCheckboxLabel"
                                                                                 for="id_Шампіньйони">Шампіньйони</label>
        </div>
    </div>
    <div class="form-row field-Кукурудза">
        <div class="checkbox-row">
            <input id="id_Кукурудза" name="Кукурудза" type="checkbox"><label class="vCheckboxLabel" for="id_Кукурудза">Кукурудза</label>
        </div>
    </div>

    <button type="submit">Create</button>
</form>
</body>
</html>