<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deserts</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'animat.css' %}"/>
    <link rel="stylesheet" href="{% static 'desert.css' %}"/>

</head>
<body>
<header class="header container">
    <div class="wrap-content">
        <ul class="flex-nav">
            <li>
                <a href="{%url 'home'%}" class="">Головна
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="{%url 'pizzas'%}">Піцца
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="#" class="bg-a">Десерти
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="{%url 'drinks'%}">Напої
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
        </ul>
    </div>
</header>
<section class="main-section">
    <div class="container">
        <div class="h2">
            <h2>Наші <span class="bg-span">десерти</span></h2>
        </div>
        <div class="wrap-content">
            <form method="POST" class="flex-form">
                  {% csrf_token %}
                {% for desert in deserts %}
                <div class="first-item">
                    <img class="rounded" src="{{ desert.photo.url}}" width="300" height="230">
                    <p class="mg"><span class="bg-span">Назва:</span> {{ desert.title }}</p>
                    <p class="mg"><span class="bg-span">Маса:</span> {{ desert.mass }}</p>
                    <p class="mg"><span class="bg-span">Ціна:</span> {{ desert.price }}</p>
                                            <p class="qqq">Ведіть <span class="bg-span">ім'я</span> користувача:</p> {{ order.user }}
                        <p class="qqq">Ведіть <span class="bg-span">номер</span> телефону:</p> {{ order.phone_number }}
                    <button class="basket-btn " type="submit">Замовити</button>
                </div>
                {% endfor %}
            </form>


        </div>
    </div>
    </div>
</section>

</body>
</html>