<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'master.css' %}"/>
    <link rel="stylesheet" href="{% static 'menu.css' %}"/>
    <link rel="stylesheet" href="{% static 'animat.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="wrap-content">
        <ul class="flex-nav">
            <li class="wrap-img-list">
                         <img  src="../static/icon/logo.png" style="margin-right: 15vw" class="logo" width="170px" height="70px" alt="">
                    </li>
            <li>
                <a href="#" class="bg-a">Головна
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="{%url 'pizzas'%}">Піцца
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="{%url 'deserts'%}">Десерти
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="{%url 'drinks'%}">Напої
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
        </ul>
    </div>
</header>
<section class="main-section">
    <div class="container">
        <div class="hold-content">
            <div class="name-com">
                <h2 class="name_r">it <span class="bg-pizza">pizza </span>🍕</h2>
            </div>
            <div class="wrap-text">
                <p class="about">Піцерія «IT PIZZA» - це стильне молодіжне, сімейне заклад Черкас, вже давно
                    зарекомендувало себе серед жителів міста як місце з відмінною атмосферою, в якому можна не тільки
                    замовити піцу і покуштувати цікаві страви авторської італійської кухні, а й чудово відпочити.</p>
            </div>
            <div class="wrap-btn">
                <a target="_blank" href="https://web.telegram.org/#/im?p=@pizza_menu_bot" id="order" class="order">Замовляй
                    швидше
                    <img src="http://panda-test.dev.visacrm.com/img/telega.png" id="telega" class="telega" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


<!--це домашня сторінка на якій все буде контакти про нас-->
<!--{% url 'log-out' %} це засуваєш в кнопку або ссилку коли нажимаєш воно виходе-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type="text/javascript">
    $(function () {
        /*--------- show and hide the menu  ---*/
        $('.button').on("click", function () {
            if ($('body').hasClass('nav_is_visible') == true) {
                $('body').removeClass('nav_is_visible');
                $('.button').removeClass('close');
            } else {
                $('body').addClass('nav_is_visible');
                $('.button').addClass('close');
            }
        });

        $('body').addClass('home_is_visible');


        function removeClasses() {
            $(".menu ul li").each(function () {
                var custom_class = $(this).find('a').data('class');
                $('body').removeClass(custom_class);
            });
        }

        $('.menu a').on('click', function (e) {
            e.preventDefault();
            removeClasses();
            var custom_class = $(this).data('class');
            $('body').addClass(custom_class);
        });
    });
</script>

</body>
</html>